<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sjz.sgy.lb.dao.work.WorkMapper" >

<insert id="addDayWork" parameterType="map">
		INSERT INTO
		day_work
		(
		
		member_id,
		work_description,
        description,
		work_day,
		work_summary,
		evaluation
		)
		VALUES
		(#{memberId},#{workDescription},#{description} ,#{workDay},#{workSummary},#{evaluation})


	</insert>

<update id="updateDayWork" parameterType="map">
		UPDATE day_work
		SET
        work_description=#{workDescription},
		description=#{description},
		work_day=#{workDay},
		work_summary=#{workSummary},
		evaluation=#{evaluation}
		
		WHERE member_id = #{memberId}
	</update>

<!-- now() -->
	<select id="queryTemplateList" resultType="map">
		SELECT
		work_description AS workDescription,
		description AS description,
		work_day AS workDay,
		work_summary AS workSummary,
		evaluation AS evaluation
		FROM
		day_work WHERE member_id = #{memberId}
        order by work_day desc
	</select>

	<select id="queryAllDayWorkList" resultType="map">
		SELECT
		member_id AS memberId,
		work_description AS workDescription,
		description AS description,
		work_day AS workDay,
		work_summary AS workSummary,
		evaluation AS evaluation
		FROM
		day_work WHERE 1 = 1
        order by work_day desc
	</select>
	


  
</mapper>